/* 
    * GitHub Repository Phishing Alert Appeal & Project Verification
    이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
    This CSS is part of a student project. 
    Any resemblance to real-world commercial sites is purely for design practice.
*/
#wrap {width: 100%; min-width:1920px;}
/* ======================================= header */
#wrap header { width: 100%; min-width:1920px; 
    position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 999; 
}
#wrap header .h_top { 
    display: flex; flex-flow: row nowrap; gap:20px;
    justify-content: flex-end; align-items: center;
    padding: 20px 299px 20px 0;
}
#wrap header .h_top li {position: relative;}
#wrap header .h_top li:nth-child(1)::after{
    content: ''; display: block;
    width: 1px; height: 7px; background: #fff;
    position: absolute; top: 5px; left: 45px;
}
#wrap header .h_top li:nth-child(2)::after{
    content: ''; display: block;
    width: 1px; height: 7px; background: #fff;
    position: absolute; top: 5px; left: 55px;
}
#wrap header .h_top li a {
    color: #fff; font-size: 0.88rem;
}
#wrap header .h_top .language {
    position: relative;
    display: inline-flex;
}
#wrap header .h_top .language p {
    color: #fff; font-size: 0.88rem; margin-right: 5px;
}
#wrap header .h_top .language > a {
    display: block;
    width: 10px; height: 14px;
}
#wrap header .h_top .language a img {width: 100%;}
#wrap header .h_top .language .language_more {
    display: none; 
    position: absolute; left:60px; top:-10px;
    border: 1px solid #D9D9D9;
    padding: 5px 10px 0 10px; z-index: 100;
    font-size: 0.63rem;
}
#wrap header .h_top .language:hover .language_more {
    display: block;
}
#wrap header .h_top .language .language_more a {
    padding-bottom: 10px; display: block; 
}
#wrap header .h_bottom { 
    height: 50px;
    padding: 0 300px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
#wrap header .h_bottom .main_logo {}
#wrap header .h_bottom .main_logo a {}
#wrap header .h_bottom .main_logo a img {width: 100%;}
#wrap header .h_bottom nav {}
#wrap header .h_bottom nav .gnb {
    display: flex; flex-flow: row nowrap; gap: 50px;
}
#wrap header .h_bottom nav .gnb li {
    display: flex; flex-flow: row nowrap;
}
#wrap header .h_bottom nav .gnb li a {
    display: block; 
    position: relative; 
    font-size: 1.25rem; color: #fff;
}
#wrap header .h_bottom nav .gnb > li:hover a {color:#3F2B2D;}
#wrap header .h_bottom nav .gnb li a p {
    color: #fff; margin-right: 20px;
}
#wrap header .h_bottom nav .gnb li .depth_bg { display: none;
    width: 100%; min-width:1920px; height: 300px; 
    background: #f5f5f5;
    position: absolute; top:104px; left: 0; z-index: 999;
}
#wrap header .h_bottom nav .gnb > li:hover .depth_bg { 
    display: flex; flex-flow: row nowrap; 
}
#wrap header .h_bottom nav .gnb > li .depth_bg::before {
    content: "";
    position: absolute;
    top: -30px; /* 메인 메뉴 하단과 서브메뉴 사이의 간격만큼 위로 올림 */
    left: 0;
    width: 100%;height: 30px; /* 간격만큼의 높이 */
}
#wrap header .h_bottom nav .gnb li .depth_bg h2 {
    font-size: 1.13rem; color: #3F2B2D; font-weight: 300; 
    margin: 141px 0 141px 388px;
}
/* ======================================= 호텔찾기 depth */
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 { 
    padding: 50px 0 0 170px; 
    display: flex;
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 > li {
    padding: 0 60px;  
    display: flex; flex-flow: column nowrap; 
    position: relative;
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 > li::before {
    content: ''; display: block;
    position: absolute; left: 0; top: 100px; transform: translateY(-50%); 
    width: 1px; height: 100px;    
    background-color: #d9d9d9; 
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 > li:first-child::before {display: none;}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 > li > a {
    display: block;
    font-size: 0.94rem; color: #3F2B2D; font-weight: 500;
    margin-bottom: 40px; 
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 li .hotel_depth3 li {
    margin-bottom: 20px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 li .hotel_depth3 li a,
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 li .hotel_depth3_3 li a {
    font-size: 0.88rem; color: #000;
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 li .hotel_depth3_3 { 
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}
#wrap header .h_bottom nav .gnb li .depth_bg .hotel_depth2 li .hotel_depth3_3 li {
    margin-bottom: 0; 
}
/* ======================================= 신라소개 depth */
#wrap header .h_bottom nav .gnb li .depth_bg .info_depth2 {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);    
    padding: 118px 0 118px 170px; 
    gap:30px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .info_depth2 > li {
    padding: 0 50px;  
    display: flex; flex-flow: column nowrap; 
    position: relative;
}
#wrap header .h_bottom nav .gnb li .depth_bg .info_depth2 li a {
    font-size: 0.94rem; color: #3F2B2D; font-weight: 500;
}
#wrap header .h_bottom nav .gnb li .depth_bg .info_depth2 li::after {
    content: '';
    position: absolute; right: 0; top: 50%; transform: translateY(-50%);
    width: 1px; height: 12px; 
    background-color: #d9d9d9;
}
#wrap header .h_bottom nav .gnb li .depth_bg .info_depth2 li:nth-child(4n)::after {display: none;}
/* ======================================= 객실 depth */
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 {
    padding: 50px 0 0 170px;  position: relative;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 > li {
    display: flex;  flex-flow: column;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 + .room_depth2::before {
    content: ''; display: block;
    position: absolute; 
    left: 20%; top: 100px;
    width: 1px; height: 100px;  
    background-color: #d9d9d9;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 > li > a {
    display: block;
    font-size: 0.94rem; color: #3F2B2D; font-weight: 500;
    margin-bottom: 40px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 li .room_depth3 {
    display: flex; flex-flow: column; gap: 15px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 li .room_depth3 li a, 
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth2 li .room_depth3_3 li a {
    font-size: 0.88rem; color: #000;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth3_3 li {
    margin-bottom: 20px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .room_depth3_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px 20px; 
}
/* ======================================= 다이닝 depth */
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 {
    padding: 50px 0 0 170px;  position: relative;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 > li {
    display: flex;  flex-flow: column;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 + .dining_depth2::before {
    content: ''; display: block;
    position: absolute; 
    left: 30%; top: 100px;
    width: 1px; height: 100px;  
    background-color: #d9d9d9;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 > li > a {
    display: block;
    font-size: 0.94rem; color: #3F2B2D; font-weight: 500;
    margin-bottom: 40px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 li .dining_depth3 {
    display: flex; flex-flow: column; gap: 15px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 li .dining_depth3 li a, 
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth2 li .dining_depth3_1 li a {
    font-size: 0.88rem; color: #000;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth3_1 li {
    margin-bottom: 20px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .dining_depth3_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap:20px; 
}
/* ======================================= 멤버십 depth */
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 {
    padding: 50px 0 0 170px;  position: relative;
}
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 > li {
    display: flex;  flex-flow: column;
}
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 + .membership_depth2::before {
    content: ''; display: block;
    position: absolute; 
    left: 30%; top: 100px;
    width: 1px; height: 100px;  
    background-color: #d9d9d9;
}
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 > li > a {
    display: block;
    font-size: 0.94rem; color: #3F2B2D; font-weight: 500;
    margin-bottom: 40px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 li .membership_depth3 {
    display: flex; flex-flow: column; gap: 15px;
}
#wrap header .h_bottom nav .gnb li .depth_bg .membership_depth2 li .membership_depth3 li a {
    font-size: 0.88rem; color: #000;
}
/*  =======================================  전체타이틀 */
#wrap main .room_wrap .room_title,
#wrap main .dining_wrap .dining_title,
#wrap main .special_offers_wrap .special_offers_title,
#wrap main .shilla_membership_wrap .membership_s .sms_text_title,
#wrap main .shilla_membership_wrap .membership_rewards .smr_text_title {
    display: flex; flex-flow: row nowrap; padding-bottom: 10px;
    align-items: flex-end; gap: 20px; padding-bottom: 10px;
    border-bottom: 1px solid #ccc; 
}
#wrap main .room_wrap .room_title h1,
#wrap main .dining_wrap .dining_title h1,
#wrap main .special_offers_wrap .special_offers_title h1,
#wrap main .shilla_membership_wrap .membership_s .sms_text_title h1,
#wrap main .shilla_membership_wrap .membership_rewards .smr_text_title h1 {
    font-size: 2.19rem; 
    font-family: "Source Serif 4", serif;
}
#wrap main .room_wrap .room_title h1+p,
#wrap main .dining_wrap .dining_title h1+p,
#wrap main .special_offers_wrap .special_offers_title h1+p,
#wrap main .shilla_membership_wrap .membership_s .sms_text_title h1+p,
#wrap main .shilla_membership_wrap .membership_rewards .smr_text_title h1+p {
    font-size: 1.25rem; font-weight: 300; color: #555;
    font-family: "Source Serif 4", serif;
}
/*  =======================================  1-2.예약폼 */
#wrap main .hero_wrap #reservation_form .check_in h2,
#wrap main .hero_wrap #reservation_form .check_out h2,
#wrap main .hero_wrap #reservation_form .hotel_room h2,
#wrap main .hero_wrap #reservation_form .adult h2,
#wrap main .hero_wrap #reservation_form .children .children_title h2,
#wrap main .hero_wrap #reservation_form .child .child_title h2 {
    font-size: 0.88rem; padding-bottom: 20px;
}
#wrap main .hero_wrap #reservation_form .check_in .date,
#wrap main .hero_wrap #reservation_form .night .sleep,
#wrap main .hero_wrap #reservation_form .check_out .date {font-size: 1.25rem;}
#wrap main .hero_wrap #reservation_form .hotel_room #room_num,
#wrap main .hero_wrap #reservation_form .adult #adult_num,
#wrap main .hero_wrap #reservation_form .children #children_num,
#wrap main .hero_wrap #reservation_form .child #child_num {
    font-size: 1.25rem; text-align: center; width: 33px;
}
#wrap main .hero_wrap #reservation_form .children .children_title,
#wrap main .hero_wrap #reservation_form .child .child_title {display: flex; flex-flow: row nowrap; gap: 5px;}
#wrap main .hero_wrap #reservation_form .children .children_title .info_icon,
#wrap main .hero_wrap #reservation_form .child .child_title .info_icon {display: inline-block; width: 12px;}
/*  =======================================  4.다이닝-서브탭 */
#wrap main .dining_wrap .dining_contents .loungebar .dining_sub_tap .active,
#wrap main .dining_wrap .dining_contents .restaurant .dining_sub_tap .active {
    font-weight: 600; border-bottom: 1px solid #555; 
    padding: 10px 20px;
}
#wrap main .dining_wrap .dining_contents .restaurant .dining_sub_tap > a::after,
#wrap main .dining_wrap .dining_contents .loungebar .dining_sub_tap > a::after {
    content: ''; display: block;
    width: 1px; height: 8px; background: #d9d9d9; bottom: -5px;
    position: absolute; top: 50%; right: -20%; transform: translateY(-50%);
}
#wrap main .dining_wrap .dining_contents .loungebar .dining_sub_tap > a,
#wrap main .dining_wrap .dining_contents .restaurant .dining_sub_tap > a {
    font-size: 0.95rem; font-weight: 400; padding: 10px 20px;
    font-family: "Source Serif 4", serif; position: relative; margin: 0 17px;
}
/*  =======================================  4.다이닝-컨텐츠 */
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg,
#wrap main .dining_wrap .dining_contents .bakary {
    display: flex; flex-flow: row nowrap;  gap: 40px;
    padding: 30px; background-color: #f5f5f5;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .c_main_img, 
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .c_main_img, 
#wrap main .dining_wrap .dining_contents .bakary .contents_bg .c_main_img {
width: 800px; height: 519px; 
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .c_main_img img,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .c_main_img img,
#wrap main .dining_wrap .dining_contents .bakary .c_main_img img {
    width: 100%; height: 100%; object-fit: cover;/* 이미지중앙에배치 */
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details,
#wrap main .dining_wrap .dining_contents .bakary .contents_details {padding: 0 85px;}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_text a h1,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_text a h1,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_text a h1 {
    font-family: "Source Serif 4", serif;
    font-size: 1.88rem; font-weight: 600; padding-bottom: 10px;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_text .cd_sub,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_text .cd_sub,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_text .cd_sub {
    font-size: 1.25rem; padding-bottom: 30px;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_text .cd_place,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_text .cd_place,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_text .cd_place {
    font-size: 0.94rem; font-weight: 300; padding-bottom: 15px;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_text .cd_time,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_text .cd_time,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_text .cd_time {
    font-size: 0.94rem; line-height: 1.5;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_text .cd_call,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_text .cd_call,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_text .cd_call {
    font-size: 0.75rem; font-weight: 300;  padding-bottom: 30px;
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_img,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_img,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_img {
    display: flex; flex-flow: row nowrap; gap:30px; 
}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_img p,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_img p, 
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_img p {width: 250px; height: 250px;}
#wrap main .dining_wrap .dining_contents .restaurant .restaurant_contents .contents_bg .contents_details .cd_img p img,
#wrap main .dining_wrap .dining_contents .loungebar .loungebar_contents .contents_bg .contents_details .cd_img p img,
#wrap main .dining_wrap .dining_contents .bakary .contents_details .cd_img p img {
    width: 100%; height: 100%;  object-fit: cover;/* 이미지중앙에배치 */ 
}
/* ==================================footer */
#wrap footer {   width: 100%;  min-width:1920px;
    background: #EEEBE6;
    padding: 50px 160px;
}
#wrap footer .footer_top {
    display: flex; flex-flow: row nowrap; gap: 50px;
}
#wrap footer .footer_top .main_logo {}
#wrap footer .footer_top .main_logo a {
    display: block; width: 373px; height: 70px; 
}
#wrap footer .footer_top .main_logo a img {
    width: 100%; padding-top: 20px;
}
#wrap footer .footer_top .ft_right {}
#wrap footer .footer_top .ft_right .ft_upper {   
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    width: 1177px; padding: 0 0 30px 20px;
    border-bottom: 1px solid #ccc;
}
#wrap footer .footer_top .ft_right .ft_upper .ft_logo {
    display: flex; flex-flow: row nowrap; gap: 30px;
}
#wrap footer .footer_top .ft_right .ft_upper .ft_logo a {
    display: block; height: 40px; 
}
#wrap footer .footer_top .ft_right .ft_upper .ft_logo a img {height: 100%;}
#wrap footer .footer_top .ft_right .ft_upper .sns {
    display: flex; flex-flow: row nowrap; gap: 15px;
}
#wrap footer .footer_top .ft_right .ft_upper .sns a {
    display: block; width: 32px; height: 32px;
}
#wrap footer .footer_top .ft_right .ft_upper .sns a img {width: 100%; height: 100%;}
#wrap footer .footer_top .ft_right .ft_down {
    display: flex; flex-flow: row wrap; gap:20px;
    padding: 30px 70px 0 20px;
}
#wrap footer .footer_top .ft_right .ft_down a:nth-child(7):after,
#wrap footer .footer_top .ft_right .ft_down a:nth-child(12):after {display: none;}
#wrap footer .footer_top .ft_right .ft_down a::after {
    content: ''; display: block;
    width: 1px; height: 8px; background: #d9d9d9;
    position: absolute; top: 50%; right: 10%; transform: translateY(-50%);
}
#wrap footer .footer_top .ft_right .ft_down a {
    padding: 0 60px 0 0; position: relative;
    font-size: 0.94rem;
}
#wrap footer .footer_bottom {
    display: flex; flex-flow: row nowrap; 
    padding: 40px 0 0 0; justify-content: space-between; align-items: center;
}
#wrap footer .footer_bottom address {
    display: flex; flex-flow: row wrap; 
    width: 1149px; align-items: center; gap: 10px;
}
#wrap footer .footer_bottom address p {
    font-size: 0.94rem; padding-right: 10px;
}
#wrap footer .footer_bottom address a {
    border: 1px solid #d9d9d9;
    padding: 10px; border-radius: 5px;
}
#wrap footer .footer_bottom .lsms {
    display: flex; flex-flow: row nowrap; gap: 10px;
}
#wrap footer .footer_bottom .lsms .lsms_img {width: 52px; height: 41px;}
#wrap footer .footer_bottom .lsms .lsms_img img {
    width: 100%; height: 100%; object-fit: cover;/* 이미지가운데로조정 */ 
}
#wrap footer .footer_bottom .lsms .lsms_txt {}
#wrap footer .footer_bottom .lsms .lsms_txt p:last-child {padding: 0;}
#wrap footer .footer_bottom .lsms .lsms_txt p {
    font-size: 0.94rem; font-weight: 300; padding-bottom: 10px;
}